/* Web Font Load */
@font-face{
    font-family: "DNFBitfont";
    src: url("../assets/DNFBitBitTTF_Font.ttf")
}
/* logo */
#MainSub {
    font-family: "DNFBitfont";
    font-size: 70px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 50%;
    border: 5px solid #dddddd;
    padding: 50px;
}
/* id Tags */


.box1 {
    margin: 30px;
    border: 30px solid #dddddd;
    padding: 30px;
}

.logoSize {
    width: "150";
    height: "150";
}