/* font-face */
@font-face {
  font-family: "DNFfont";
  src: url("../assets/DNFBitBitTTF_Font.ttf");

  font-family: "NotoSans_medium";
  src: url("../assets/static/NotoSansKR-Medium.ttf");

  font-family: "NotoSans_extrabold";
  src: url("../assets/static/NotoSansKR-ExtraBold.ttf");
  }
  
  /* colors */
  :root {
  --main-bg-color: #5c5c5c;
  --side-bg-color: #F5F5F5;
  --text-color: #ffffff;
  --button-bg-color: #4CAF50;
  --button-hover-bg-color: #3e8e41;
  --button-active-bg-color: #367d39;
  --list-hover-bg-color: #f1f1f1;
  --list-incomplete-bg-color: #bbb;
  --list-complete-bg-color: #4CAF50;
}
  
  /* button */
button {
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
  
.my-button {
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
  
.my-button:hover {
  background-color: var(--button-hover-bg-color);
  color: white;
}
  
.my-button:active {
  background-color: var(--button-active-bg-color);
  color: white;
}
  
  /* layout */
.container {
  display: flex;
}
  
.top {
  font-family: "NotoSans_extrabold";
  font-size: 150px;
  color: var(--text-color);
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  background-color: var(--main-bg-color);
}
  
.bottom {
  width: 20%;
  background-color: var(--side-bg-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--text-color);
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

label[for="check-btn"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.menu-label {
  cursor: pointer;
}

.menu-item {
  display: none;
}

#check-btn:checked ~ .menu-list .menu-item {
  display: block;
}

footer {
  background-color: #F2F2F2;
  padding: 20px 0;
}

.containerbt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-halfbt {
  text-align: left;
}

.right-halfbt {
  text-align: right;
}

.social-list {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.social-list li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.social-list a {
  color: #222;
}

.social-list i {
  font-size: 20px;
}